body
{
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	background-color:#66c6d0;

}
.container
{
	height: 390px;
	width: 260px;
	position:absolute;
	margin: auto;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	cursor: pointer;
}
.black>.left
{
	background-color:#4d4d4d;
}
.left
{
	height: 150px;
	width: 40px;
	transform-origin: 0 0;
	transform:  rotate(90deg) skewX(-30deg) scaleY(0.864);

}
.black>.right{
	background-color:#343434;
}
.right{
	height: 40px;
	width: 150px;
	transform-origin: 0 0;
	transform:  rotate(-30deg) skewX(-30deg) scaleY(0.864);
	position: relative;
	bottom: 150px;
}
.black>.top{
	background-color:#696969;
}
.top{
	height: 150px;
	width: 150px;
	transform-origin: 0 0;
	transform:  rotate(210deg) skewX(-30deg) scaleY(0.864);
	position: relative;
	bottom: 190px;
}
.white>.left{
	background-color: #f10b0b;
}
.white>.right{
	background-color: #FBD902;
}
.white>.top{
	background-color: #FB02C2;
}
.stack1,.stack2,.stack3,.stack4,.stack5,.stack6{
	position: relative;
	left:150px;
	transition: 0.5s;
}
.stack1{
	top:150px;
}
.stack2{
	bottom:150px;
	z-index: -1;
}
.stack3{
	bottom:450px;
	z-index: -2;
}
.stack4{
	bottom:750px;
	z-index: -3;
}
.stack5{
	bottom:1050px;
	z-index: -4;
}
.stack6{
	bottom:1350px;
	z-index: -5;
}
.container:hover .stack1{
	transform: translate(-130px,75px);
}
.container:hover .stack3{
	transform: translate(-130px,75px);
}
.container:hover .stack5{
	transform: translate(-130px,75px);
}
.container:hover .stack2{
	transform: translate(130px,75px);
}
.container:hover .stack4{
	transform: translate(130px,75px);
}
.container:hover .stack6{
	transform: translate(130px,75px);
}